<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<script type="text/javascript">
	function eliminar(id){
		$.ajax({
				url: '/users/'+id,
				type:'DELETE',
				async: false,
				dataType: 'text',
				success:function(r){
					location.reload();
				},
				error:function(r){
					alert(r.responseText);
				}
			});
	}
</script>



<body>

<% include ../partials/navUsuarios.ejs %>

<div class="container">
<h2>Usuarios</h2>

<ul>
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Id </th>
					<th>Nombre </th>
					<th>Alias </th>
					<th>Mail </th>
					<th>Sexo </th>
					<th>Edad </th>
					<th>Foto </th>
					<th>Ubicacion </th>
					<th>Intereses </th>
					<th>Eliminar </th>
				</tr>
			</thead>
			<tbody>
			    <% results.forEach(function(r) { %>
			    	<tr>
			    	<th><%= r.id %></th>
					<th><%= r.name %> </th>
					<th><%= r.alias %> </th>
					<th><%= r.email %> </th>
					<th><%= r.sex %> </th>
					<th><%= r.age %></th>
					<th>
						<a href="" data-toggle="modal" data-target="#<%= r.id %>">Ver Imagen</a>
						<div id="<%= r.id %>" class="modal fade" tabindex="-1" role="dialog">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body">
										<img src="data:image/png;base64,<%= r.photo_profile %>" class="img-responsive">
									</div>
								</div>
							</div>
						</div>	
					</th>
					<th>Longitud: <%= r.location.longitude %>, Latitud: <%= r.location.latitude %></th>
					<th>		
						<ul class="list-group">
							<% r.interests.forEach(function(a){ %>
							<li class="list-group-item"> <%= a.value %></li>
							<% });%>
						</ul> 
					</th>
					<th>		
						<button onclick='eliminar("<%= r.id %>")' <span class="glyphicon glyphicon-remove"></span></button>
					</th>
        			</tr>
    				<% }); %>
			</tbody>
		</table>
		<a href="/crearUsuario"><span class="glyphicon glyphicon-plus"></span>Crear Usuario</a>
	</div>
</ul>

</div>

</body>
</html>
